[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/jcf/vim-latex.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/pydiction"]
	path = bundle/pydiction
	url = https://github.com/rkulla/pydiction.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
