[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/jcf/vim-latex.git
